@page "/product/{id:int}"
@inject IProductService ProductService

<div class="media">
    <div class="media-img-big-wrapper mr-2">
        <img class="media-img-big" src="@product.Image" alt="@product.Name" />
    </div>
    <div class="media-body">
        <h2 class="mb-0">@product.Name</h2>
        <h4 class="price">
            $@product.Price
        </h4>
        <button class="btn btn-primary" @onclick="NavigateToDealerships"><i class="oi oi-map-marker"></i>&nbsp;&nbsp;&nbsp;Find nearest dealership</button>
        <button class="btn btn-primary" @onclick="NavigateToFinanceReq"><i class="oi oi-cart"></i>&nbsp;&nbsp;&nbsp;Finance this car</button>
    </div>

</div>

@code {
    [Inject]
    private NavigationManager NavigationManager { get; set; }

    private void NavigateToDealerships()
    {
        NavigationManager.NavigateTo("/Dealerships");
    }
    private void NavigateToFinanceReq()
    {
        NavigationManager.NavigateTo("/FinanceReq"); 
    }

    private Product product = new Product();

    [Parameter]
    public int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {

        product = await ProductService.GetProduct(Id);
    }
}
